    .humbruger {
        position: absolute;
        top: 30px;
        z-index: 3;
        right: 30px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        .btn-line {
            width: 30px;
            height: 3px;
            background: #FFF;
            z-index: inherit;
            margin-bottom: 4px;
        }

        &.close {
            transform: rotate(-180deg);


        }

        .btn-line {
            &:nth-child(1) {

                transform: rotate(45deg) translate(5px, 5px)
            }

            &:nth-child(2) {

                opacity: 0;
            }

            &:nth-child(3) {

                transform: rotate(-45deg) translate(7px, -5px)
            }
        }

    }

    // Start Menu Overlay

    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.8;
        visibility: hidden;

        &.show {
            visibility: visible
        }

        & .brand,
        & .menu-nav-links {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float: left;
            width: 50%;
            height: 100vh
        }

        & .brand {
            background: #FFF;
            transform: translate3d(0, 100%, 0);
            transition: all 0.3s ease-in-out;


            & .person-image {
                width: 250px;
                height: 250px;
                background: url('../img/thisme.jpg');
                background-size: cover;
                border-radius: 50%;
                border: 1px solid #000;

            }

        }

        & .show {
            transform: translate3d(0, 0, 0);

        }

        & .menu-nav-links {
            background: darken(#000000, 0.6);
            margin-top: 0;
            transform: translate3d(0, -100%, 0);
            transition: all 0.3s ease-in-out;


        }

        & .show {
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease-out;

        }

        & .nav-link {
            display: inline-block;
            font-weight: 500px;
            font-size: 2rem;
            padding: 1rem 0;
            color: #FFF;
            text-decoration: none;
        }

        & .nav-link {

            &:hover {
                color: #333;
                transition: all 0.2s ease-in-out
            }


        }

        // .nav-item {
        //     transform: translate3d(500px, 0, 0);

        //     & .show {
        //         transform: translate(0, 0, 0);

        //     }

        //     // Loop For Transistion Delay 
        //     @for $i from 1 through 4 {
        //         .nav-item:nth-child(#{$i}) {
        //             transition-delay: $i * 0.1;
        //         }
        //     }

        // }


    }

    main {

        .lg-heading {

            text-shadow: 4px 3px 6px #000
        }


        .icons {

            & .icon {
                padding-left: 40px;
                display: inline-block;
                margin-top: 30px;
            }

            & h3 {
                margin: 20px 0 0 40px;
                font-size: 2rem
            }

            & .icon {
                & .fab:hover {
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                    color: #999;
                }

            }
        }
    }