@import './settings';
@import './menu';
@import './screens';


* {
    box-sizing: border-box
}


body {
    @include background;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;

}

// General styled Here

h1,
h2,
h3,
h4,
h5,
h6 {

    margin: 0;

    &.lg-heading {
        font-size: 4rem;
        font-weight: 500;
        margin-top: 28px
    }

    // &.sm-heading {
    //     background: lighten($primary-color, 0.2);

    // }
}

a {
    @include unstyled;
    color: #FFF
}

li {
    list-style-type: none;
    padding: 22px;

}

header {
    overflow: hidden;
    z-index: 3;
}

main {

    padding: 4rem;
    // height: 100%;
    height: calc(100vh - 60px);
    // @include transitions-item(all, 3s, ease-in-out);
    z-index: 1;

    &#homepage {
        h1 {
            margin-top: 20vh
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'image bio bio'
        'work work work';
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;

}

.info-image {
    grid-area: image;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 300px;
    height: 300px;
    margin: 0 0 0 15px;
    margin-left: 50px;
    overflow: hidden
}

.info {
    grid-area: bio;
    font-size: 20px;
}

.work-1 {
    grid: work;
    width: 400px;
    height: 300px;
    background: #000;
    // border-left: 5px solid #000;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #000
}

.work-2 {
    grid: work;
    width: 400px;
    height: 300px;
    background: #000;
    // border-left: 5px solid #000;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #000
}

.work-3 {
    grid: work;
    width: 400px;
    height: 300px;
    background: #000;
    // border-left: 5px solid #000;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #000
}

.projects {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 5px;


    & img {

        // width: 25rem;
        width: 400px;

        &:hover {
            opacity: .5;
            transition: all .3s ease-in-out;


        }
    }


    & .icon {
        background: #000;
        width: 400px;
        padding: 20px;
        text-align: center;
    }
}

footer {

    text-align: center;
    background: #000;
    line-height: 3.9;
    // height: 79px;
    font-weight: bolder;
    font-size: 20px;
    color: #FFF;
    box-shadow: 1px 1px 10px #000; // Change when Change background AOT 
    width: 100%;

}

.boxes {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    & div {
        border: 6px solid #FFF;
        width: 700px;
        padding: 40px;
        margin: 30px auto;
        font-weight: bold;
        font-size: 30px;

        &:hover {
            opacity: .5;
            transition: all 0.3s ease-in-out;
        }
    }
}
